*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(109, 169, 248);
}

h1{
    margin: 40px 0;
    text-align: center;
}

#selectLevel{
    display: flex;
    justify-content: center;
    align-items: center;
}

select,
button{
    margin-left: 20px;
}

.main-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.containerFacile{
    height: 420px;
    width: 420px;
    background-color: brown;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.containerMedio{
    height: 540px;
    width: 540px;
    background-color: rgb(99, 62, 230);
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}
.containerDifficile{
    height: 600px;
    width: 600px;
    background-color: rgb(47, 175, 96);
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

.hide{
    display: none;
}

.box{
    height: 60px;
    width: 60px;
    border: 1px solid white;
    background-color: rgb(71, 145, 148);
}